.timer_main {
  width: 68vw;
  height: 95%;
  margin-left: 2.7rem;
  background: #1e2343;
  border-radius: 1rem;
  border: 1px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
}
.timer {
  border: 1px solid green;
  width: 40%;
  height: 100%;
}
.set_timer {
  border: 1px solid green;
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.time {
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  gap: 2rem;
  color: #949494;
}
.time p {
  font-size: 1.3rem;
}
.timer_number {
  color: #fff;
  display: flex;
  flex-direction: row;
  gap: 3rem;
}
.increse_btn,
.decrese_btn {
  padding: 0.5rem;
  display: flex;
  background: transparent;
  flex-direction: row;
  gap: 6rem;
}
.decrese_btn,
.increse_btn img {
  cursor: pointer;
}
.start_btn {
  margin-top: 0.5rem;
  cursor: pointer;
  background: #ff6a6a;
  color: #fff;
  padding: 0.4rem 8rem;
  border-radius: 1.4rem;
  border: none;
  outline: none;
}
